WPFClient/WPFClient/Connected Services/ServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCursorPos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CursorPos" nillable="true" type="tns:CursorPos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCursorPos" nillable="true" type="tns:ArrayOfCursorPos" />
  <xs:complexType name="CursorPos">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TypeEvent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="XPos" type="xs:int" />
      <xs:element minOccurs="0" name="YPos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CursorPos" nillable="true" type="tns:CursorPos" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>