WPFClient/WPFClient/Connected Services/ServiceReference/ServiceCursor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceCursor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceCursor_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCursor_LoadData_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadData" />
  </wsdl:message>
  <wsdl:message name="IServiceCursor_LoadData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCursor_SaveData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveData" />
  </wsdl:message>
  <wsdl:message name="IServiceCursor_SaveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCursor_Connection_InputMessage">
    <wsdl:part name="parameters" element="tns:Connection" />
  </wsdl:message>
  <wsdl:message name="IServiceCursor_Connection_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCursor_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IServiceCursor_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCursor_SortDataByType_InputMessage">
    <wsdl:part name="parameters" element="tns:SortDataByType" />
  </wsdl:message>
  <wsdl:message name="IServiceCursor_SortDataByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortDataByTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCursor">
    <wsdl:operation name="LoadData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCursor/LoadData" message="tns:IServiceCursor_LoadData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCursor/LoadDataResponse" message="tns:IServiceCursor_LoadData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCursor/SaveData" message="tns:IServiceCursor_SaveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCursor/SaveDataResponse" message="tns:IServiceCursor_SaveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connection">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCursor/Connection" message="tns:IServiceCursor_Connection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCursor/ConnectionResponse" message="tns:IServiceCursor_Connection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCursor/SendMessage" message="tns:IServiceCursor_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCursor/SendMessageResponse" message="tns:IServiceCursor_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SortDataByType">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCursor/SortDataByType" message="tns:IServiceCursor_SortDataByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCursor/SortDataByTypeResponse" message="tns:IServiceCursor_SortDataByType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceCursor" type="tns:IServiceCursor">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceCursor_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LoadData">
      <soap12:operation soapAction="http://tempuri.org/IServiceCursor/LoadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveData">
      <soap12:operation soapAction="http://tempuri.org/IServiceCursor/SaveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connection">
      <soap12:operation soapAction="http://tempuri.org/IServiceCursor/Connection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IServiceCursor/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SortDataByType">
      <soap12:operation soapAction="http://tempuri.org/IServiceCursor/SortDataByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCursor">
    <wsdl:port name="NetTcpBinding_IServiceCursor" binding="tns:NetTcpBinding_IServiceCursor">
      <soap12:address location="net.tcp://localhost:4567/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4567/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-38INOIJ9\artem</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>